

<div class="card text-center">
  <div class="card-header">
  </div>
  <div class="card-body">
  <% @ideas.each do |idea| %>
        <%= link_to idea do %>
          <h5 class="card-title"><%= idea.title %></h5>   
        <% end %>
    <p class="card-text"><%= idea.description %></p>
  <p class="card-text">
    <small>Liked by: <%= idea.likes.count %> people</small>
<% if can?(:like,idea)%>
  <small>
    <% like = idea.likes.find_by(user: current_user) %>
    <% if like.present? %>
      <%= link_to "Unlike", like_path(like), method: :delete %>
    <% else %>
      <%= link_to "Like", idea_likes_path(idea), method: :post %> 
    <% end %>
  </small>
<% end %>
  </p>
    
  <div class="card-footer text-muted">
    <h5>Created by: <%= idea.user&.full_name || 'DELETED'%></h5>
    <small>Created: <%= time_ago_in_words idea.created_at %> ago</small>
    <small>Last Updated: <%= time_ago_in_words idea.updated_at %> ago</small>
    
  </div>
  <% end %>
</div>

