  <div class='col-10'>
    <div class='list-group'>
      <% @ideas.each do |idea| %>
        <%= link_to idea do %>
            <h4><%= idea.title %></h4>
        <% end %>
            <p><%= idea.description %> </p>
            
            <h4>Created by: <%= idea.user&.full_name || 'DELETED'%></h4>
            <small>Liked by: <%= idea.likes.count %> people</small>
            <% if can?(:like,idea)%>
              <small>
                <% like = idea.likes.find_by(user: current_user) %>
                <% if like.present? %>
                  <%= link_to "Unlike", like_path(like), method: :delete %>
                <% else %>
                  <%= link_to "Like", idea_likes_path(idea), method: :post %> 
                <% end %>
              </small>
            <% end %>
            
          <hr>
      <% end %>
    </div>
  </div>
</div> 