<div class="card text-center">
  <div class="card-header">
    
  </div>
  <div class="card-body">
    <h5 class="card-title"><%= @idea.title %></h5>
    <p class="card-text"><%= @idea.description %></p>
  <p class="card-text">
    <small>Liked by: <%= @idea.likes.count %> people</small>
<% if can?(:like,@idea)%>
  <small>
    <% if @like.present? %>
      <%= link_to "Unlike", like_path(@like), method: :delete %>
    <% else %>
      <%= link_to "Like", idea_likes_path(@idea), method: :post %> 
    <% end %>
  </small>
<% end %>
  </p>
    
  <div class="card-footer text-muted">
    <h5>Created by: <%= @idea.user&.full_name || 'DELETED'%></h5>
    <small>Created: <%= time_ago_in_words @idea.created_at %> ago</small>
    <small>Last Updated: <%= time_ago_in_words @idea.updated_at %> ago</small>
    <% if can?(:crud, @idea) %>
      <%= link_to "Edit", edit_idea_path(@idea) %>
      <%= link_to "Delete", idea_path(@idea), method: :delete, data: { confirm: "Are you sure?" } %>
    <% end %>
  </div>
</div>



<%= render 'reviews/form'%>
<hr>
<% @reviews.each do |review|%>
  <%= review.body %>
  <br>
  <small>Reviewed by:<strong> <%= review.user&.full_name || 'DELETED' %></strong></small><br>
  <small>Created: <%= time_ago_in_words(review.created_at)%> ago</small><br>

  <% if can? :crud, review %>
    <%= link_to("Delete", idea_review_path(@idea,review), method: :delete, data:{confirm: 'Are you sure?'})%>
  <% end %>
  <hr>
<% end %>